*{
    margin: 0;
}
.slider-image{
    width: 100%;
    height: 350px;
    padding: 20px 20px;
    background: url('../images/img1.jpg') no-repeat;
    background-size: cover;
}
.slider-image img{
    overflow-y: hidden;
}
.images-row img{
    padding: 20px;
    max-width: 100%;
}
header{
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding: 15px 40px;

}
h1{
    text-align: center;
}
footer{
    border-top: 1px solid #ccc;
    text-align: center;
    padding: 20px;
}
article{
    padding: 20px 100px;
    text-align: center;
    font-size: 20px;

}
.form-div{
    max-width: 800px;
    margin: 0 auto;
}

.danger{
    color: red;
}
.success{
    color:green;
}
.warning{
    color: orange;
}
#mouse-enter-leave{
        background-color: #000;
        height: 60px;
        font-size: 30px;
        color: #fff;
}
.main{
    min-height: 500px;
}
.btn-restaurant{
    margin: 10px;
}
.text-center{
    text-align: center;
}
#weather-main{
    display: none;
}
