#button0{
    background-color: teal;
    border-color: black;
        margin-left: 600px;
        height: 30px;
        border-radius: 15px;
        position: absolute;
        top: 45px;
}
.weathercontainer0{
    background-color: grey;
    width: 200px;
    display: none;
}
td{
    border-style: solid;
    border-color: pink;
}
hr{
    position: fixed;
    top: 130px;
    width: 100%;
}
.container{
    position: absolute;
    top: 150px;
}
.weathercontainer1{
    background-color: orange;
    width: 200px;
    display: none;
}
